:root {
    --button-active: #e7e7e7;
    --button-inactive: rgb(241, 241, 241);
    --button-background: #ebecee;
    --button-border: #cbcacf;
    --horizontal-line: #DC143C;
    --last-name: #DC143C;
    
    --bg-main: #2C6E49;
    
    --border-light-grey: #E5E7EB;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;

    --font-ui: 'Inter', sans-serif;
    --font-size-standard: 1rem;
    --font-size-smaller: 0.75rem;

    --box-shadow-focus: 0 0 0 3px rgba(0, 0, 255, 0.2);
    --standard-box-padding: 8px 1rem;
}

@font-face {
    font-family: 'Averia Libre';
    src: url('./Assets/fonts/AveriaLibre-Bold.woff2') format('woff2'),
        url('./Assets/fonts/AveriaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./Assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('./Assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courgette';
    src: url('./Assets/fonts/Courgette-Regular.woff2') format('woff2'),
        url('./Assets/fonts/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merienda';
    src: url('./Assets/fonts/Merienda-Regular.woff2') format('woff2'),
        url('./Assets/fonts/Merienda-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
  min-height: 100vh;
}

.main-container-op {
  min-width: 100vh;
  min-height: 100vh;
  background-image: url('/onepiecebackground.png');
  background-size: cover;
}

.main-container-cat {
  min-width: 100vh;
  min-height: 100vh;
  background-image: url('/catbackground2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 278px;
  height: 200px;
  padding: var(--space-sm);
}

button {
  display: flex;
  flex-direction: column;
  border-radius: var(--space-sm);
}

.object-name {
  /* font-family: 'Merienda'; */
  font-family: 'Courgette';
  font-size: large;
}

button:hover {
  cursor: pointer;
  box-shadow: 0.1em 0.1em 2.5em rgb(255 247 0 / 80%);
}

.main-title {
  font-family: 'Averia Libre';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  color: white;
  text-shadow: 0 0 10px rgb(255, 247, 0), 0 0 20px #ff8800, 0 0 30px #ff5500;
  /* background: linear-gradient(.25turn, rgb(0, 0, 255, 0.3), black, rgb(0, 0, 255, 0.3)) */
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  padding: var(--space-sm);
}

.score-container {
  display: flex;
}

.best-score-container {
  background-image: url('/bestscoreboard.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0 auto;
  width: 350px; 
  aspect-ratio: 820 / 304; 
}


.best-score {
  font-family: 'Inter';
  font-size: 2rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 74px;
  width: 24px;
  height: 27px;
  display: flex;
  justify-content: center;
}

.current-score-container {
  background-image: url('/currentscoreboard.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  position: relative;
  margin: 0 auto;
  aspect-ratio: 826 / 302;
}

.current-score {
  font-family: 'Inter';
  font-size: 2rem;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 44px;
  left: 56px;
  width: 24px;
  height: 27px;
  display: flex;
  justify-content: center;
}

.reset-best-score {
  background-image: url('/resetbestscorebutton2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  aspect-ratio: 3058 / 1238;
  position: absolute;
  top: 42px;
  left: 345px;
}

.reset-best-score:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.05s ease;
}

.reset-best-score:active {
  /* box-shadow:
      inset -2px -2px 3px rgb(255 255 255 / 0.6),
      inset 2px 2px 3px rgb(0 0 0 / 0.6); */
  transform: scale(0.95); 
  transition: transform 0.05s ease;
}

.theme-button {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
}

.one-piece-button {
  background-image: url('/onepiecebutton2.png');
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 2676 / 1140;
  width: 150px;
}

.one-piece-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.05s ease;
}

.one-piece-button:active {
  transform: scale(0.95); 
  transition: transform 0.05s ease;
}

.cat-button {
  background-image: url('/catbutton2.png');
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1358 / 1314;
  width: 70px;
}

.cat-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.05s ease;
}

.cat-button:active {
  transform: scale(0.95); 
  transition: transform 0.05s ease;
}
